<form [formGroup]='registerForm' (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sing up</h2>
    <hr>
    <div class="form-group">
        <input type="text"
            [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
            class="form-control" formControlName='username' placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>

        <input type="password"
            [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
            class="form-control" formControlName='password' placeholder="password">
            <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password</div>
            <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">The password must be at least 4 characters</div>
            <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">The password must be at most 8 characters</div>
        <input type="password"
            [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
            class="form-control" formControlName='confirmPassword' placeholder="password">
            <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please enter a confirm password</div>
            <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">The password must match password</div>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-success mr-2" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>
<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>